<template name="dashboardOverview">
<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="{{pathFor 'dashboardOverview'}}">Overview</a></li>
      <li role="presentation"><a href="{{pathFor 'dashboardSettings'}}">Settings</a></li>
    </ul>
  </div>
  <div class="row">
    <br/>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 well">
      <button type="button" class="btn btn-default add-session">
      <i class="fa fa-plus fa-lg"></i> Add Session
      </button>
    </div>
  </div>
  <div class="row">
    {{#if sessions.length}}
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 well">
      {{#if pageLoading}}
      {{>loading}}
      {{/if}}
      <div class="list-group">
        {{#each sessions}}
        <a type="button" class="list-group-item" href="/admin/sessions/{{this.number}}"><i class="fa fa-chevron-right"></i> {{this.shortName}} <span class="pull-right"> Created {{formatDate this.createdAt}}</span></a>
        {{/each}}
      </div>
    </div>
    {{/if}}
  </div>
</div>
</template>