<template name="sessionSettings">
<div class="container">
  <div class="col-sm-4 col-md-8 col-lg-10">
    <div class="modal fade ">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-body">
                <h5>Edit {{session.fullName}}  settings</h5>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-2 col-md-8 col-lg-8">
                  {{#if Template.subscriptionsReady}}
                  {{#autoForm id="sessionSettings" type="method-update" meteormethod="updateSessionSettings" doc=session collection="Game.sessions"}}
                  {{> afQuickField name="name"}}
                  {{> afQuickField name="settings.initialinventory"}}
                  {{> afQuickField name="settings.cost.inventory" }}
                  {{> afQuickField name="settings.cost.backorder" }}
                  {{> afQuickField name="settings.delay" }}
                  <div>
                    {{#afEachArrayItem name="settings.customerdemand" minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                    <div class="row">
                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        {{> afQuickField name=this.current.week}}
                      </div>
                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        {{> afQuickField name=this.current.value}}
                      </div>
                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <br/>
                        {{#if afArrayFieldHasMoreThanMinimum name="settings.customerdemand" minCount=0 maxCount=''}}
                        <button type="button" class="btn btn-primary autoform-remove-item"><i class="glyphicon glyphicon-minus"></i></button>
                        {{/if}}
                      </div>
                    </div>
                    {{/afEachArrayItem}}
                    {{#if afArrayFieldHasLessThanMaximum name="settings.customerdemand" minCount=0 maxCount=''}}
                    <button type="button" class="btn btn-primary autoform-add-item pull-left" data-autoform-field="settings.customerdemand" data-autoform-minCount="{{this.atts.minCount}}" data-autoform-maxCount="{{this.atts.maxCount}}"><span class="glyphicon glyphicon-plus"></span></button>
                    {{/if}}
                  </div>
                  <div>
                  <br/>
                  <br/>
                    <button type="submit" class="btn btn-primary" disabled="{{disableButtons}}">Submit</button>
                    <button type="reset" class="btn btn-default" disabled="{{disableButtons}}">Reset changes</button>
                  </div>
                  {{/autoForm}}
                  {{else}}
                  {{>loading}}
                  {{/if}}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>