<template name="sessionOverview">
<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="{{pathFor 'dashboardOverview'}}">Overview</a></li>
      <li role="presentation"><a href="{{pathFor 'dashboardSettings'}}">Settings</a></li>
    </ul>
  </div>
  <div class="row">
    <br/>
    <div class="col-xs-12 col-sm-8 col-md-10 col-lg-12 well">
      <h4 class="text-center">{{session.fullName}}</h4>
      <h5 class="text-center"><small>Created {{formatDate session.createdAt}}</small></h5>
      <button type="button" class="btn btn-default modal-create-games">
      <i class="fa fa-plus fa-lg"></i> Create Games
      </button>
      <button type="button" class="btn btn-default modal-session-settings pull-right">
      <i class="fa fa-pencil fa-lg"></i> Settings
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-10 col-lg-12 well">
      {{#unless canstopgames}}
        <button class="btn btn-danger pull-left deletesession"><i class="fa fa-trash"></i> Delete session</button>
      {{else}}
        <button class="btn btn-danger pull-left" disabled="true"><i class="fa fa-trash"></i> Delete session</button>      
      {{/unless}}
      <button class="btn btn-default pull-right" data-toggle="collapse" data-target="#playerprogress"><i class="fa fa-user"></i> Game progress</button>
      <br/>
    </div>
  </div>
  <div class="row collapse" id="chart">
    <div class="col-xs-12 col-sm-8 col-md-10 col-lg-12 well">
      <div class="list-group"  >
        {{> highchartsHelper chartId="bullwhipcart" chartObject=bullwhipcart}}
      </div>
    </div>
  </div>
  <div class="row collapse" id="playerprogress">
    <div class="col-xs-12 col-sm-8 col-md-10 col-lg-12 well">
      <div class="list-group">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <th class="text-center">Game key</th>
              <th class="text-center">Retailer</th>
              <th class="text-center">Wholesaler</th>
              <th class="text-center">Distributor</th>
              <th class="text-center">Manufacturer</th>
            </thead>
            <tbody>
              {{#each progressreports}}
              <tr>
                <td>{{instancekey this.game.instance}}</td>
                <td>
                  Week {{currentweek 'Retailer'}}<br/>Key {{playernumber 'Retailer'}}
                </td>
                <td>
                  Week {{currentweek 'Retailer'}}<br/>Key {{playernumber 'Wholesaler'}}
                </td>
                <td>
                  Week {{currentweek 'Retailer'}}<br/>Key {{playernumber 'Distributor'}}
                </td>
                <td>
                  Week {{currentweek 'Retailer'}}<br/>Key {{playernumber 'Manufacturer'}}
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    {{#if instances.length}}
    <div class="col-xs-12 col-sm-8 col-md-10 col-lg-12 well">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <th class="text-center">Game key</th>
            <th class="text-center">State</th>
            <th></th>
          </thead>
          <tbody>
            {{#each instances}}
            <tr>
              <td>{{this.key}}</td>
              <td>{{statehelper this.state}}</td>
              <td>
                <button class="btn btn-default pull-left openchart" data-toggle="collapse" data-target="#chart"><i class="fa fa-line-chart"></i> Chart</button>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      {{#if canstopgames}}
      <button type="button" class="btn btn-success pull-left" disabled="true">
      <i class="fa fa-play-circle fa-lg"></i> Resume all games</button>
      <button type="button" class="btn btn-danger stopallgames pull-right">
      <i class="fa fa-stop fa-lg"></i> Stop all games</button>
      {{else}}
      <button type="button" class="btn btn-success resumeallgames pull-left">
      <i class="fa fa-play-circle fa-lg"></i> Resume all games</button>
      <button type="button" class="btn btn-danger pull-right" disabled="true">
      <i class="fa fa-stop fa-lg"></i> Stop all games</button>
      {{/if}}
    </div>
    {{/if}}
  </div>
</div>
</template>
