<template name="index">
<div class="jumbotron text-center" style="padding: 20px;">
  <a type="button" class="btn btn-default btn-lg btn-block text-center" href={{pathFor 'joingame'}}>
      <i class="fa fa-play-circle-o fa-lg pull-left"></i> Join game
  </a>
  <a type="button" class="btn btn-default btn-lg btn-block text-center" href={{pathFor 'continuegame'}}>
      <i class="fa fa-pause fa-lg pull-left"></i> Continue game
  </a>
  <a type="button" class="btn btn-default btn-lg btn-block modal-toggle text-center" name="game-rules">
      <i class="fa fa-question fa-lg pull-left"></i> Game rules
  </a>
  <a type="button" class="btn btn-default btn-lg btn-block modal-toggle text-center" name="about">
      <i class="fa fa-file-text fa-lg pull-left"></i> About
  </a>
</div>
</template>
