<Template name="pageForm">
{{> afQuickField name="title"}}
{{> afQuickField name="content"}}
<div>
  <button type="submit" class="btn btn-primary" disabled="{{disableButtons}}">Submit</button>
  <button type="reset" class="btn btn-default" disabled="{{disableButtons}}">Reset changes</button>
</div>
</Template>

<template name="adminEditPage">
<div class="row">
  <div class="col-sm-8">
    {{#autoForm id="adminEditPage" type="method-update" meteormethod="updatePage" doc=page collection="Pages"}}
    {{> pageForm }}
    {{/autoForm}}
  </div>
</div>
</template>
